<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chai's</title>
    <style>
    body{
    background-color: #710589;
    color: whitesmoke;
    }

    h1{
        text-align: center;
        font-size: 2em;
    }
</style>
</head>
<body>
    <h1>All types of available chai.</h1>
    <div class="chai-container">
        {% for chai in chais %}
        <h2>{{ chai.name }}</h2>
        <img src="{{ chai.image.url }}" alt="{{ chai.name }}">
        {% endfor %}
    </div>
</body>
</html>